
* {
  margin: auto;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  font-weight:400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  display:flex;
  background-color: #ffffff !important;
}
.experience {
  margin:10%;
}

.home {
  display:flex;
  flex-direction: row;
margin:10%;
}

.photo {
  width:300px;
  border-radius: 50%;
  border:3px solid #0c2c3b;
  height: 300px;
  background-size: 300px 300px;
  background-image: url('/public/one.jpg');
  transition: 500ms;
}
.photo:hover{
  transition: 500ms;
  width:300px;
  border-radius: 50%;
  border:3px solid #134656;
  height: 300px;
  background-size: 300px 300px;
  background-image: url('/public/picpic.jpg');
}
.socials img {
  padding:5px;
  width: 40px
}
.nav-link:hover{
  text-decoration: overline !important;
}
.card {
margin:auto !important;
display:flex;
flex-direction: row;
flex-wrap:wrap;
background-color: #ffffff !important;
margin-top:10px !important;
border:none !important;
border-top:3px solid #AA6373 !important;
border-bottom: 3px solid #AA6373 !important;
}
.item {
  background:none !important;
  border: none !important;
  text-decoration: underline !important;
  text-decoration-color:rgb(191, 191, 191) !important;
}


.card-title {
  font-family: 'Quicksand', sans-serif;
  font-weight:600 !important;
}

.card-link {
  text-decoration: none;
  color:white
}
.navbar{
  position:sticky!important;
width:100% !important;
top:0 !important;
left:0 !important;
right:0 !important;
background-color: #2E4052 !important;
z-index: 999;
}


.techies .card {
  margin-left: 10px !important;
}
.navbar a {
  color: rgb(255, 255, 255) !important;

}

.home .card {
  border:none;
  border-top:3px solid #AA6373 !important;
  margin-left: 20px !important;
}

.list {
  display:flex;
  flex-direction: row !important;
  flex-wrap: wrap;
}

.techs img {
  width: 30px;
  height:30px;
}
.techs {
  padding:10px;
  margin:10px
}


.line  {
  border-bottom: 2px solid #e5bcc6 !important;
  width: 90%;
  margin:10px
}
.proj {
  background-color: #AA6373 !important;
  color:white  !important;
}
.mySwiper {
  width: 600px;
  height:300px;
  margin:10%
}
.swiper-button-next {
   color: white !important;
  opacity: 20% !important;
  }
  
.swiper-button-prev {
   color: white !important;
  opacity: 20% !important;
  }
  .proj a {
    margin:5px
  }

@media screen and (min-width: 640px) {
  .mySwiper {
    width: 600px;
    height:300px
  }
}

@media screen and (min-width: 768px) {
  .mySwiper {
    width: 600px;
    height:300px
  }
}

@media screen and (max-width: 575px) {
  .home {
    flex-direction: column;
  }
.mySwiper {
  width: 300px
}
.swiper-button-next{
  display:none !important
}
.swiper-button-prev{
  display:none !important
}
}
