* {
  margin: auto;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  font-weight:400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  display:flex
}
.experience {
  margin:10%
}

.projects{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin:10%;
  
}
.projects .card {
  border-top:none !important;
  border-bottom: 3px solid pink !important
}
.photo {
  width:300px;
  border-radius: 50%;
  border:5px solid #ffffff
}
.socials img {
  width:30px;
  height:30px;
  padding:5px
}
.nav-link:hover{
  text-decoration: overline !important;
}
.card {
margin:auto !important;
display:flex;
flex-direction: row;
flex-wrap:wrap;
background-color: none !important;
margin-top:10px !important;
border:none !important;
border-top:3px solid pink !important;
border-bottom: 3px solid pink !important;
}
.item {
  background:none !important;
  border: none !important;
  text-decoration: underline !important;
  text-decoration-color:rgb(191, 191, 191) !important;
}
.techies {
  margin-top:100px
}

.card-title {
  font-family: 'Quicksand', sans-serif;
  font-weight:600 !important;
}

.card-link {
  text-decoration: none;
  color:white
}

.home {
  display:flex;
  flex-direction: row;
margin:10%;
}
.navbar{
width:100%;
background-color: #3D5A80 !important;
}

.navbar a {
  color: white !important
}

.home .card {
  border:none;
  border-top:3px solid pink !important
}

.list {
  display:flex;
  flex-direction: row !important;
  flex-wrap: wrap;
}

.techs img {
  width: 30px;
}
.techs {
  padding:10px
}

@media screen and (max-width: 575px) {
  .home {
    flex-direction: column;
  }
  .projects {
    flex-direction: column;
  }
}